---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/Hero.astro'
import Header from '../components/Header.astro'
import Products from '../components/Products.astro'
import ProductsScroll from '../components/ProductsScroll.astro'
import GrillProducts from '../components/GrillProducts.astro'
import Masonry from '../components/Masonry.astro'
import Recipe from '../components/Recipe.astro'
---

<Layout title="Welcome to The Grill Society.">
  <Header />
  <main>
    <section>
      <Hero />
    </section>

    <section>
      <Masonry />
    </section>

    <section>
      <GrillProducts />
    </section>

    <section>
      <Recipe />
    </section>

    <style>
      section {
        scroll-snap-align: center;
        scroll-snap-stop: normal;
      }
    </style>
  </main></Layout
>
