---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Hero from '../components/Hero.astro'
import Header from '../components/Header.astro'
import Products from '../components/Products.astro'
---

<Layout title="Welcome to The Grill Society.">
  <Header />
  <section class="relative">
    <Hero />
  </section>
  <section>
    <Products />
  </section>
  <section>
    <div class="h-screen w-full bg-grill-image bg-no-repeat bg-cover">hola mundo</div>
  </section>
</Layout>

<style>
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
</style>
