<header class="z-40 fixed top-0 flex justify-between items-center w-full p-5">
  <div>
    <img src="../../assets/logo.svg" alt="The Grill Society" width="100" />
  </div>
  <div
    class="cursor-pointer transition-all bg-grill-yellow-500 text-black px-6 py-2 rounded-lg
border-grill-yellow-700
border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
active:border-b-[2px] active:brightness-90 active:translate-y-[2px]"
  >
    CONTACTANOS
  </div>
</header>
